extends layout.pug

block content
	h1 Create a new Book
	form
		p
			label(for="title") Title
			input#title(name="title" type="text")
		p
			label(for="author") Author
			input#author(name="author" type="text")
		p
			label(for="genre") Genre
			input#genre(name="genre" type="text")
		p
			label(for="year") Year
			input#year(name="year" type="text")
		p
			input(value="Create New Book" type="submit")
		p
			a.button(href="all_books.html") Cancel
